{block content}

<h1 n:inner-block="title">{_"Pages"}</h1>

{if !$original}<b>(!!!)</b> = {_"missing translation"}{/if}
<hr>

<ol n:inner-foreach="$pages as $page">
	{var $page_content = $presenter->getPagesData($page)}
	<li><b n:if="!$original && $page_content->lang == en">(!!!) </b>
		{$page_content->title}
		<p><a n:href="edit, $page->id">{_"Edit"}</a></p>
	</li>
</ol>