parameters:
	year: 2014
	title: Miranda NG

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	session:
		expiration: 31 days
		autoStart: smart
		#savePath: "%tempDir%/sessions"
		#cookieDomain: ".%domain%"

	application:
		#errorPresenter: Error

services:
	routerFactory: RouterFactory
	router: @routerFactory::create
	database: @nette.database.default.context
	urlScript: @httpRequest::getUrl()
	texy: MyTexy(%wwwDir%, @urlScript::getBaseUrl())

extensions:
	gettextTranslator: GettextTranslator\DI\Extension

gettextTranslator:
	lang: en
	files:
		front: %appDir%/langs # for module Front and other non-specified modules
	# optional with defaults
	layout: horizontal # or: vertical
	height: 450

factories:
