parameters:
	year: 2014
	title: Miranda NG

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

session:
	expiration: 31 days
	autoStart: smart
	#savePath: "%tempDir%/sessions"
	#cookieDomain: ".%domain%"

application:
	#errorPresenter: Error

di:
	# FIXME: remove this
	accessors: True

#tracy:
	#bar:
		#- LiveTranslator\Panel

services:
	routerFactory: RouterFactory
	router: @routerFactory::create
	database: @nette.database.default.context
	urlScript: @httpRequest::getUrl()
	texy: MyTexy(%wwwDir%, @urlScript::getBaseUrl())
	- Rawbyer\Search
	- Models\AddonsModel
	- Models\CategoriesModel
	- Models\LanguagesModel
	- Models\PagesModel
	- Models\NewsModel

	translatorStorage: FixedLiveTranslatorStorage\NetteDatabase(localization_text, localization)
	#translatorStorage: LiveTranslator\Storage\File(%appDir%/langs)
	translator: LiveTranslator\Translator(en)
	translatorPanel: LiveTranslator\Panel
