application:
	debugger: true
	catchExceptions: false

routing:
	debugger: true

security:
	debugger: true

di:
	debugger: true

session:
	debugger: true

tracy:
	strictMode: true
	showLocation: true
	maxLen: 250
	maxDepth: 3
