{var $overlayStyle = "width: 600px; height: 550px; overflow-x: hidden; overflow-y: auto;"}

{block content}
<a n:if="$item->changelog" n:href="changelog, $item->id" n:class="more, rfloat, $isAjax ? colorbox">{_"Show changelog"} &raquo;</a>
<h1 n:block="title">{$item->name} {$item->version}</h1>

{var $imageUrl = $item->screenshot ? "/upload/images/" . $item->id . "_" . $item->screenshot : "/images/placeholder.png"}
<a href="{if $isAjax}{plink image, $item->id}{else}{$imageUrl}{/if}" class="colorbox" style="display: block; height: 200px; line-height: 200px; vertical-align: middle; width: 250px; overflow: hidden; float: left; margin: 0 10px 15px 0; text-align: center; margin: 0 10px 15px 0">
	<img src="{$imageUrl}" style="max-width: 250px">
</a>

<p style="padding-left: 270px;">
	<strong>{_"Author"}:</strong> {$item->ref("old_authors", "author_id")->name}
	<br><strong>{_"License:"}</strong> {$item->license->name}
	{if $item->requirements}
		<br><strong>{_"Requirements:"}</strong> {!$item->requirements}
	{/if}

	<br>
	<br><strong>{_"Added"}:</strong> {$item->added|date,'j.n.Y'}
	{if $item->updated}
		<br><strong>{_"Updated"}:</strong> {$item->updated|date,'j.n.Y'}
	{/if}
	<br><strong>{_"Downloaded"}:</strong> {$item->downloads}&times;

	<br><br><a n:href="download, $item->id, 'file'" style="font-weight: bold; font-size: 18px" title="{_'Version'}: {$item->version}">{_"Download"}</a>
{if $item->source_filename}
	| <a n:href="download, $item->id, 'source'" title="{_'Version'}: {$item->source_version}">{_"Download source"}</a>
{/if}

</p>

<hr>

<h2>{_"Description:"}</h2>

<p style="height: 200px; margin-bottom: 0; overflow-x: hidden; overflox-y: auto;">{!$item->description}</p>