{var $aside_class = "addons"}
{var $top_class = "file_of_week"}

{block top}
<a class="download" href="#">Facebook RM
	<span>file of the week</span>
</a>

<a href="#" class="screenshot"><img src="{$basePath}/images/facebook.png" alt=""></a>

<p>This is my modification of original Facebook protocol (by jarvis). I have fixed many things and added functions like Invisible status, group chats support, authorizations, searching contacts, and much more.</p>

<a class="more">Read more &raquo;</a>
{/block}

{block panel}
<h2>Official release</h2>
<menu>
	<li><h3>&raquo; <a href="#">Miranda NG - Stable version</a></h3></li>
	<li><h4>&raquo; <a href="#">Miranda NG - Nightly build (beta)</a></h4></li>
</menu>


<h2 class="twitter" style="background: none">Categories</h2>

<menu>
	<li><h3><a href="#">Miranda packs</a></h3>
		<menu>
		<li><a href="#">Top rated</a></li>
		<li><a href="#">Most recent</a></li>
		<li><a href="#">All packs</a></li>
		</menu>
	</li>
	
	<li><h3><a href="#">Plugins</a></h3>
		<menu>
		<li><a href="#">Protocols</a></li>
		<li><a href="#">Communication</a></li>
		<li><a href="#">User interface</a></li>
		<li><a href="#">Lorem ipsum</a></li>
		<li><a href="#">Others</a></li>
		</menu>
	</li>
	<li><h3><a href="#">Customizations</a></h3>
		<menu>
		<li><a href="#">Icons</a>
			<menu style="margin-bottom: 0">
				<li><a href="#">Connection</a></li>
				<li><a href="#">Protocols</a></li>
				<li><a href="#">Others</a></li>
			</menu>
		</li>
		<li><a href="#">Sounds</a></li>
		<li><a href="#">Skins</a>
			<menu style="margin-bottom: 0">
				<li><a href="#">Clist Modern</a></li>
				<li><a href="#">Popup Plus</a></li>
				<li><a href="#">Tabsrmm</a></li>
				<li><a href="#">Tipper YM</a>
			</menu>
		</li>
		<li><a href="#">Others</a></li>
		</menu>
	</li>
	
</menu>	
{/block}

{block content}
<h1>Protocols</h1>
			
<div class="news">
	<h2>MSN Protocol</h2>
	<p class="date">					
		<span class="lfloat">July 27, 2012</span>
		<span class="rfloat">Version: 0.92.1157</span>
	</p>

	<p class="clear">Lorem ipsum dolor sit amet, mirantur deo agili est amet amet Cur meae. Audito dolet sit Mariae maximas hanc legibus Antiochiam innocentem vis. Disce Apollonius ut casus inferioribus civitatis in lucem in modo. Vituperia ad suis Tyrium coniugem Jesu Dionysiadem in rei civibus laude clamaverunt donavit in modo ad quia.</p>

	<a href="#" class="more">Read more &raquo;</a>
</div>

<div class="news">
	<h2>Jabber Protocol</h2>
	<p class="date">					
		<span class="lfloat">July 27, 2012</span>
		<span class="rfloat">Version: 0.92.1157</span>
	</p>

	<p class="clear">Lorem ipsum dolor sit amet, mirantur deo agili est amet amet Cur meae. Audito dolet sit Mariae maximas hanc legibus Antiochiam innocentem vis. Disce Apollonius ut casus inferioribus civitatis in lucem in modo. Vituperia ad suis Tyrium coniugem Jesu Dionysiadem in rei civibus laude clamaverunt donavit in modo ad quia.</p>

	<a href="#" class="more">Read more &raquo;</a>
</div>

<div class="news">
	<h2>Omegle Protocol</h2>
	<p class="date">					
		<span class="lfloat">July 27, 2012</span>
		<span class="rfloat">Version: 0.92.1157</span>
	</p>

	<p class="clear">Lorem ipsum dolor sit amet, mirantur deo agili est amet amet Cur meae. Audito dolet sit Mariae maximas hanc legibus Antiochiam innocentem vis. Disce Apollonius ut casus inferioribus civitatis in lucem in modo. Vituperia ad suis Tyrium coniugem Jesu Dionysiadem in rei civibus laude clamaverunt donavit in modo ad quia.</p>

	<a href="#" class="more">Read more &raquo;</a>
</div>