<!DOCTYPE html>
<!--[if lte IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE) ]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<meta name="author" content="Robert Pösel">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="googlebot" content="snippet,archive">
	<meta name="description" content="{ifset #description}{include #description|striptags|trim|truncate,250}{else}{_"Miranda NG is a successor of a popular multi-protocol instant messaging client for Windows - Miranda IM. Very light on system resources and extremely fast."}{/ifset}">
	<meta name="keywords" content="miranda, messenger, chat, windows, facebook, skype, twitter, jabber, icq, irc, chat">
	<title>{ifset #title}{include #title|striptags|trim} - {/ifset}{$sufix}</title>
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<link rel="alternate" n:href="Rss:news" type="application/rss+xml" class="rss" title="RSS channel for news">
{*	<link rel="image_src" type="image/jpeg" href="images/logo.png"> *}
	{iss "style", "screen,projection,tv"}
	{block head}{/block}
</head>

<body>

<div id="all">

	<header>
		<a n:href="Home:" id="logo">
			Miranda NG
			<br><span class="subtitle">{_"Next Generation of Miranda IM"}</span></a>

		<menu class="main" n:inner-foreach="$menu as $id => $item">
			{var $href = ($id[0] == "/") ? $id : $presenter->link($id)}
			<li><a n:class="$presenter->isLinkCurrent($id . '*') ? active" href="{$href}">{$item}</a></li>
		</menu>

		<div class="languages">
			<a n:foreach="$langs as $lang" n:class="$presenter->lang == $lang->code ? active" n:href="this, lang => $lang->code" title="{$lang->name}">
				<img src="{$basePath}/images/flags/{$lang->icon}.png" alt="{$lang->name}">
				{$lang->name}
			</a>
		</div>

		<p n:if="$user->isLoggedIn()" class="loginbox">{_"Logged in as"} <strong>{$user->id}</strong> | <a n:href=":Admin:Sign:out">{_"Logout"}</a></p>
	</header>

	<section>
		<div id="top" n:ifset="#top" n:class="isset($top_class) ? $top_class">
			{include #top}
		</div>

		<article n:ifset="#content">
			{include #content}
		</article>

		<aside n:class="isset($aside_class) ? $aside_class">
			{include "panel.latte"}
		</aside>
	</section>

	<footer>
		<p class="copyright">
			Copyright &copy; {$copy} Miranda NG. {_"Website by"} <a href="http://www.robyer.cz" target="_blank">Robert Pösel</a>.
		</p>
	</footer>

</div>

<script>
  (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45612719-1', 'miranda-ng.org');
  ga('send', 'pageview');

</script>

</body>
</html>
